body {
    font-family: Arial;
    font-size: 10pt;
}

img {
    height: 100px;
    width: 100px;
    margin: 2px;
}

.draggable {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.dropped {
    position: static !important;
}

#dvSource, #dvDest {
    border: 5px solid #ccc;
    padding: 5px;
    min-height: 100px;
    width: 430px;
}